{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 100,

  "importOrder": ["^@/", "^\\."],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "babel-ts"
      }
    }
  ]
}
